body{
    font-family: 'Domine', serif;
}
#content {
    max-width: 800px;
    margin: auto;
}

#innercontent{
    width: 100%; 
    margin-bottom: 64px;
}

p {
    text-align: justify;
}

#listarticle > li{
    padding-bottom: 12px;
}

table{
    margin: auto;
}

td{
    padding: 4px; 
    border: 1px solid silver;
}

#alert{
		background-color:#960018;
		position:fixed;
		font-weight:bold;
		top:0px;
		left:0px;
		width:100%;
		padding:3px;
		color: white;
}

#alert a{
		color:white;
}